params {
    exposures                   = null
    outcomes                    = null
    references                  = null
    twosmr_ref                  = null

    // nf-validation
    validationSkipDuplicateCheck     = false
    validationS3PathCheck            = null
}

manifest {
    name            = 'jvfe/ukb_ppp_gsmr'
    author          = """Julia Apolonio, João Cavalcante"""
    description     = """A pipeline for mendelian randomization"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}

// Plugins
plugins {
    id 'nf-validation@1.1.3'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'


// Always run with Docker
docker {
    enabled = true
}
